.App h2 {
  font-size: 35px;
}

.App h3 {
  font-size: 16px;
}

.App .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}
.App .container-body {
  margin: 0 auto;
  width: 600px;
  padding: 30px;
}
.App .weather-app-body {
  background-image: url(./images/Earthwallpaper.jpg);
  opacity: 0.9;
  background-size: cover;
  display: block;
  margin: 0 auto;
  width: 500px;
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 50px;
  color: white;
}
