.Overview h2 {
  font-size: 35px;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.Overview h3 {
  font-size: 16px;
  margin: 0 0 0 0px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}
.Overview ul {
  padding: 0px 0px 0px 0px;
}
.Overview .temperature-wrapper {
  position: relative;
  z-index: 10;
}
.Overview .temperature {
  font-size: 85px;
  font-family: "Ubuntu", sans-serif;
}

.Overview .main-icon {
  width: 100px;
  margin: -8px 15px 0px 12px;
  padding: 0px;
  position: relative;
  z-index: 1;
}
.Overview li {
  list-style: none;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  margin-top: 5px;
  line-height: 32px;
}
.Overview .sunrise-sunset {
  padding: 0 0 0 5px;
}
.Overview .sunrise-icon,
.sunset-icon {
  width: 50px;
}
.Overview .col-2 {
  padding: 0px 10px;
}
